<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field" id="cont">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field" id="formimg">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <fieldset class="uploader" style="text-align: center;">
  <%= form.label :img, 'img' %>
  <%= form.hidden_field :image_cache %>
  <%= form.file_field :img%>
</fieldset>




  <div class="actions" style="text-align: center" id="qqq">
    <%= form.submit nil, class: "butn" %>
  </div>
    <div class="invisible">
    <%= form.label :name%>
    <%= form.text_field :name, value: current_author.full_name , readonly: true%>
  </div>

<% end %>
