<% if @show_register %>
  <script>
    $(function(){   
      $(".modal_login").show()           
      $('.close').click(function(){
        $(".modal_login").css("display", "none")
      }); 
    })
  </script>
<%end%>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>



<div class="image" style="text-align: center;">
  <img src='<%= @post.image %>' width='400px'/>
  <img src='<%= @post.main_image %>' width='600px'/>
  <img src='<%= @post.additional_image %>' width='400px'/>
  <img src="<%=@post.img%>"/>
</div>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Back', posts_path %>

<% if !current_author.nil? && current_author.id == @post.author.id %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Destroy post', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>


<h4>Views: <%= @post.views%></h4>
  <%= render 'posts/modal'%>


<div class='cont add_comment'>
  <h4>New Comment</h4>
  <%= render 'comment_form' %>
</div>

<div class='cont comment_list'>
  <h4>Comments: <%= @post.comments.count%></h4>
  
  <%= render 'comments_list' %>
</div>